body{
    margin: 0;
    font-family: sans-serif;
    width: 100%;
    overflow: hidden;
}


nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #eee;
    padding: 1rem;
}

.left-nav{
    width: 50%;
    display: flex;
    justify-content: baseline;
    padding: 1rem;
    
}
.right-nav{
    width: 50%;
    margin-top: .5rem;
    display: flex;
    justify-content: end;
    margin-right: 5rem;
}

.right-nav button{
    
    padding: 1rem;
    
    border-radius: 8px;
    font-weight: bold;
    margin-right: 1rem;
    
    
}
.normal-btn{
    border: none;
    background-color: dodgerblue;
    color: white;
}
.outlined-btn{
    border: 2px solid dodgerblue;
    color: dodgerblue;
    background-color: white;
}
.left-nav img{
    width: 8rem;
    /*margin-top: 2rem;*/
    margin-left: 1rem;
    margin-right: 2rem;
}

.left-nav a{
    margin-top: 10rem;
    padding: 10px;
    display: inline;
    position: relative;
    top: 8px;
    text-decoration: none;
    color: darkslategrey;
}
.main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main p{
    margin-top: 10rem;
    font-weight: bold;
    font-size: 5rem;
    width: 70%;
}

